<div class="container">
  <h1>Welcome to Kitter!</h1>
  <p>A website to make humans believe the truth.</p>
</div>

<div class="container">
  <h4>Log-in!</h4>
  <table>
    <%= @fail %>
    <br> <br>
    <form name="input" action='/welcome_back' method="post">
    Log In:
    <br>
    User Name:<input type="text" name="user_name">
    <br>
    Password: <input type="text" name="password">
    <input type="submit" value"Submit">
    </form>
  </table>
  <br> <br>
  <table>
    <form name="input" action='/register' method="post">
    Sign Up:
    <br>
    Full Name: <input type="text" name="full_name">
    <br>
    User Name:<input type="text" name="user_name">
    <br>
    Password: <input type="password" name="password">
    <input type="submit" value"Submit">
    </form>
  </table>
</div>
