body {
	background: #331A49;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: #A97ACF
}

#top_piece {
	background-color: #241133;
	margin-top: -1.25em;
	padding-bottom: 1em

}

.logo {
	padding: 3% 0 0 45%;

}
.logo img {
	max-width: 15%;
	display: inline-block;
}

.kitter_title {
	margin: -.25em 0 0 0;
	color: #2A3DF1;
}

.kitter_slug {
	padding: 4% 0 0 37%;
	color: #61238E;
}

.container {
  width: 90%; /*width: 1000px;*/
	max-width: 1000px;
	margin: auto;
  /*border: 1px dotted black;*/
}



/*Partials*/
div.user_login {
	margin-left: 65%;
	/*width: 100px;*/
}

div.user_login h1{
	padding-top: 1em;
	font-size: 1em;
	text-transform:uppercase;
}

div.user_login input {
	width: 100px;
	color: #B064BE;
	background-color: #3C1B56;
	border: 2px inset #814F9E;
}

div.user_login input.button {
	width: 100px;
	height:30px;

	color: #2A3DF1;
	border: 3px inset #784F9E;;
	/*background: red*/
}

/*New_user Partials*/
div.new_user {
	margin-left: 35%;
	/*width: 100px;*/
}

div.new_user h1{
	padding-top: 1em;
	font-size: 1em;
	text-transform:uppercase;
}

div.new_user input {
	width: 300px;
	height: 50px;
	color: #B064BE;
	background-color: #3C1B56;
	border: 2px inset #814F9E;
	display: block;
}

div.new_user input.button {
	/*width: 100px;
	height:30px;*/
	/*border-radius: 20px;*/
	border: 3px inset #784F9E;;
	width: 306px;
	color: #2A3DF1;
	/*background: red*/
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}




