<form name="input" action='/register' method="post">
  Sign Up:
  <br>
  Full Name: <input type="text" name="full_name">
  <br>
  User Name:<input type="text" name="user_name">
  <br>
  Password: <input type="password" name="password">
  <input type="submit" value"Submit">
</form>