<div class="container">
  <h1>Welcome to Kitter!</h1>
  <img src="http://placekitten.com/315/315" alt="cat photo">
  <p>A website to make humans believe the truth.</p>
</div>

<div class="container">
  <%= erb 'partials/_user_login'.to_sym %>
  <br> <br>
  <table>
    <%= erb 'partials/_new_user'.to_sym %>

  </table>
</div>
